body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.customerEdit input[type='text'], 
.customerEdit input[type='number'],
.customerEdit input[type='email'],
.customerEdit select,
.login input[type='text'], 
.login input[type='email'],
.login input[type='password'] {
    width:250px;
}


.errorMessage {
    position:absolute;
    padding: 5px;
    background-color: #E03930;
    color:white;
    top:0;
    left:270px;
}

.statusRow {
    height:50px;
}
