<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9">David Worthington</div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Using:</div>
                <div class="span9"><a href="https://angularjs.org/" target="_blank">AngularJS</a></div>
                <div class="span9"><a href="http://www.asp.net/" target="_blank">ASP.NET</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Thanks to:</div>
                <div class="span9"><a href="http://weblogs.asp.net/dwahlin" target="_blank">weblogs.asp.net/dwahlin</a></div>
            </div>
        </div>
    </div>
</div>


