<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>
    
    <script type="text/javascript" src="/Scripts/angular.js"></script>
    <script type="text/javascript" src="/Scripts/angular-local-storage.js"></script>
    <script type="text/javascript" src="/Scripts/loading-bar.js"></script>
    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/moment.js"></script>
    <script type="text/javascript" src="/Scripts/angular-route.js"></script>
    <script type="text/javascript" src="/Scripts/angular-mocks.js"></script>

    <!-- include source files here... -->
    <script type="text/javascript" src="/Scripts/app/app.js"></script>
    <script type="text/javascript" src="/Scripts/app/dataFactory.js"></script>
    <script type="text/javascript" src="/Scripts/app/Services/authInterceptorService.js"></script>
    <script type="text/javascript" src="/Scripts/app/services/authService.js"></script>
    <script type="text/javascript" src="/Scripts/app/aboutController.js"></script>
    <script type="text/javascript" src="/Scripts/app/homeController.js"></script>
    <script type="text/javascript" src="/Scripts/app/indexController.js"></script>
    <script type="text/javascript" src="/Scripts/app/customersController.js"></script>
    <script type="text/javascript" src="/Scripts/app/timeEntriesController.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="/Scripts/app/routeConfigSpec.js"></script>
    <script type="text/javascript" src="/Scripts/app/aboutControllerSpec.js"></script>
    <script type="text/javascript" src="/Scripts/app/homeControllerSpec.js"></script>
    <script type="text/javascript" src="/Scripts/app/indexControllerSpec.js"></script>
    <script type="text/javascript" src="/Scripts/app/customersControllerSpec.js"></script>
    <script type="text/javascript" src="/Scripts/app/timeEntriesControllerSpec.js"></script>
</head>

<body>
</body>
</html>
